<html>
<head>
    <title>Home - Frameshift Sonification</title>
    <link rel="stylesheet" href="css/global_layout.css" type="text/css">
</head>
<body>
    <content>
        <h2>Welcome to Protein Explorer</h2>

        <p>This is a protein sequences analysis tool! </p>

            <h3>Main Pages</h3>

            <div style="border: 2px solid #c9b8e8; border-radius: 8px; padding: 16px; margin-bottom: 16px;">
                <h4><a href="search.php" style="text-decoration: none; color: #503786;">Do an Analysis</a></h4>
                <p>
                    Perform a range of analyses on Protein Sequences from Protein families and Taxonomic groups of your choosing.
                </p>
            </div>

            <div style="border: 2px solid #c9b8e8; border-radius: 8px; padding: 16px; margin-bottom: 16px;">
                 <?php $example_dataset = "WyIxNzIwNzgzNjkxIiwgIjIyNDA1NDk5MiIsICIyNDY2ODI2NDEwIiwgIjI0NjY4NDczNjEiLCAiMjkyNTk5NDc0NSIsICIyOTM1NzU1ODY4IiwgIjI5MzU3ODExNjkiLCAiMjkzNTc4MTE3MSIsICI3MDAzODQ3MzQiLCAiOTI5NDUyNjUxIl0="; ?>
                <h4><a href="<?php echo 'results.php?search_id=' . urlencode($example_dataset); ?>" style="text-decoration: none; color: #503786;">View an Example Dataset</a></h4>
                <p>
                    View the results of an example dataset where a search was done for Glucose-6-phosphatase Proteins in Aves.
                </p>
            </div>

            <div style="border: 2px solid #c9b8e8; border-radius: 8px; padding: 16px; margin-bottom: 16px;">
                <h4><a href="context.php" style="text-decoration: none; color: #503786;">Previous Searches</a></h4>
                <p>
                    Take a look at the previous searches that have been conducted using this tool.
                </p>
            </div>
            
            <div style="border: 2px solid #c9b8e8; border-radius: 8px; padding: 16px; margin-bottom: 16px;">
                <h4><a href="context.php" style="text-decoration: none; color: #503786;">Biological Context</a></h4>
                <p>
                    Read about the biological analysis pipeline and how it can be helpful to you.
                </p>
            </div>

            <div style="border: 2px solid #c9b8e8; border-radius: 8px; padding: 16px; margin-bottom: 16px;">
                <h4><a href="about.php" style="text-decoration: none; color: #503786;">About the Technical Implementation </a></h4>
                <p>
                    Read about some of the technical details of how this site has been built.
                </p>
            </div>

    </content>
</body>
</html>