<html>
<head>
    <title>Home - Frameshift Sonification</title>
    <link rel="stylesheet" href="../static/css/global_layout.css" type="text/css">
</head>
<body>
    <header><h1 style="font-size: 2rem; padding: 10px;"><a href="index.php" style="text-decoration: none; color: #f3f0f7;">Understanding Frameshift Mutations using Sonficiation</a></h1></header>
    <content>
        <p>This is tool to sonify pairwise alignments </p>

        <form method="POST" enctype="multipart/form-data">
            <p>Choose an XML file to upload:</p>
            <input type="file" id="xml_file" name="xml_file" accept=".xml" required />
            <button type="submit">Upload</button>
        </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        {% if result %}
            <h3>Successfully Read XML file - {{ result|length }} alignments found</h3>
            {% for res in result %}
                <div class="alignment-card">
                    <h4>Alignment {{ loop.index }}:</h4>
                    <p><b>E-value:</b> {{ res.evalue }} | <b>Score:</b> {{ res.bits }} bits</p>
                    <pre><b>Query:</b>   {{ res.query|replace('-', '<span class="gap">-</span>')|safe }}</pre>
                    <pre><b>Match:</b>   {{ res.match }}</pre>
                    <pre><b>Subject:</b> {{ res.subject|replace('-', '<span class="gap">-</span>')|safe }}</pre>
                </div>
            {% endfor %}
        {% endif %}
    </content>
</body>
</html>